<h1><%= @user.name %></h1>

<% if @recipes.count > 0 %>
Recipes authored:<br>
<ul>
<% @recipes.each do |recipe| %>
  <li><%= link_to recipe.name, recipe_path(recipe) %></li>
<% end %>
</ul>
<% end %>

<%= button_to "Delete user", user_path(@user), method: :delete %>

